# Пути к дискам
HDD1_PATH=/mnt/hdd1
HDD2_PATH=/mnt/hdd2

# FileBrowser
FB_USERNAME=admin
FB_PASSWORD=Passw0rd

# Nginx Basic Auth (доступ к задачам и заметкам)
NGINX_ADMIN_USER=admin
NGINX_ADMIN_PASSWORD=Passw0rd

# Локальная сеть
LOCAL_NET=192.168.1.0/24
