# Пути к дискам
HDD1_PATH=/mnt/hdd1
HDD2_PATH=/mnt/hdd2

# FileBrowser
FB_USERNAME=admin
FB_PASSWORD=ImDaBoSs_300

# Nginx Basic Auth (доступ к задачам и заметкам)
NGINX_ADMIN_USER=admin
NGINX_ADMIN_PASSWORD=ImDaBoSs_300

# Локальная сеть
LOCAL_NET=192.168.1.0/24